        <h4>Python framework that has very little "automagically".</h4>

        <p>It's for people who hate heavy frameworks that do too much and give the developer very little actual control</p>
        <p>[tag:todaysDate()]</p>

        <h4>Technology Used</h4>
            <ul>
                <li>Python</li>
                <li>mod_wsgi</li>
                <li>apache</li>
                <li>postgresql</li>
                <li>html5boilerplate</li>
                <li>cbatags</li>
            </ul>